<nav class="navbar navbar-expand-sm navbar-dark bg-blue border-bottom p-3">
  <a class="navbar-brand" href="/">WeatherView</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="links" class="navbar-nav mr-auto">
      <!-- <li><a href="">Now</a></li>
      <li><a href="/hourly" onclick="hourly()">Hourly</a></li>
      <li><a href="/">Daily</a></li>
      <li><a href="/aqiDetails">AQI</a></li> -->
    </ul>
  </div>
</nav>