body {
  background-image: url("../images/clouds-over-farms.jpg");
  background-color: #ecf6f8;
  background-size: cover;
  height: 100vh;
}
.bg-blue {
  background-color: #18458b;
}
.bg-yellow {
  background-color: #F9B90F;
}
.font-xlg {
  font-size: 4em;
  font-weight: bold;
}
.font-lg {
  font-size: 2em;
}
.font-md {
  font-size: 1.375em;
}
.yellow-line {
  border: 3px solid #F9B90F;
  border-radius: 5px;
  background-color: #F9B90F;
  width: 50px;
}
h1 {
  color: #fff;
  font-size: 3em;
}
.ft-size-2 {
  font-size: 1.25em;
}
#home {
  margin-top: 20vh;
}
.search {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.3);
}
.icon {
  height: 75px;
  width: auto;
}
#forecast, #currentData {
  border-radius: 5px;
}
#currentData {
  text-align: left;
}
#forecast {
  margin-bottom: 50px;
}
@media (min-width: 576px) {
  h1 {
    font-size: 4em;
  }
 }
