body {
  background-image: url("../images/clouds-over-farms.jpg");
  background-color: #cccccc;
  background-size: cover;
  height: 100vh;
}
.bg-blue {
  background-color: #18458b;
}
.bg-yellow {
  background-color: #F9B90F;
}
.font-xlg {
  font-size: 4em;
  font-weight: bold;
}
.font-lg {
  font-size: 2em;
}
.font-md {
  font-size: 1.375em;
}
#currentData {
  border: 1px solid gray;
  background-color: #18458b;
  background-image: linear-gradient(#18458b 0%, #fff 100%);
  width: 70vw;
}
.yellow-line {
  border: 3px solid #F9B90F;
  border-radius: 5px;
  background-color: #F9B90F;
  width: 50px;
}
h1 {
  color: #fff;
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
.ft-size-2 {
  font-size: 1.25em;
}
.home-div {
  height: 85vh;
}
.search {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.3);
}
.icon {
  height: 75px;
  width: auto;
}
#results {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  h1 {
    font-size: 4em;
  }
 }
