<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home - WeatherView Forecaster</title>
        <meta name="description" content="Get up-to-date weather for any city with the WeatherView Forecaster.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/main.css">
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/weather.js"></script>
    </head>
    <body>
        <nav>
            <%- include ("../partials/nav.ejs") %>
        </nav>
        <main>
            <div class="container-fluid d-flex flex-column p-0">
                <div id="alert"></div>
                <div id="results" class="p-3 d-flex flex-column text-center justify-content-center align-items-center">
                    <div id="home">
                        <h1 class="text-light">WeatherView Forecaster</h1>
                        <hr class="yellow-line">
                        <p class="ft-size-2 text-light font-weight-bold">Get current and forecasted weather by city with WeatherView.</p>
                    </div>
                    <div id="searchBox" class="m-5 w-75 search p-2 rounded">
                        <input type="text" class="rounded p-2 form-control" id="location" name="location" placeholder="Search by Zip Code">
                        <input type="hidden" id="lon" name="lon" value="">
                        <input type="hidden" id="lat" name="lat" value="">
                        <button type="button" class="btn btn-small bg-yellow col-12 mt-2" onclick="weather()">Search</button> 
                    </div>
                    <div class="d-flex flex-column justify-content-start align-items-center flex-md-row justify-content-md-between align-items-md-start">
                        <div id="currentData" class="'mt-5 font-md p-5 py-3 w-auto rounded mx-3 mb-5"></div>
                        <div id="forecast" class="rounded mx-3 p-2"></div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>